body {
  background-color: #306844;
  background-image: linear-gradient(90deg, #306844 0%, #2c4c3b 74%);
  font-family: "Cinzel";
  touch-action: manipulation;
  overflow-x: hidden;
}

header,
footer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: dimgray;
  flex-direction: column;
}

header {
  height: 100vh;
  background-image: linear-gradient(
    to top,
    hsl(163, 83%, 37%) 0%,
    hsl(202, 52%, 44%) 100%
  );
  background-image: url("bg.jpg");
  /* background-position: center; */
  background-size: cover;
  backdrop-filter: brightness(50%);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 40;

  /* background: url("http://demo.all4coding.com/magento/media/background/background_8.jpg"); */
  background-size: auto;
  background-repeat: no-repeat;
  animation-name: backgroundEffect;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

@keyframes backgroundEffect {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 30% 10%;
  }
  50% {
    background-position: 0 30%;
  }
  75% {
    background-position: 30% 30%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wrapper {
  position: relative;
  z-index: 10;
}

.tree {
  height: 500px;
  z-index: 1;
  opacity: 0.3;
  position: fixed;
  bottom: 0;
  right: 10%;
  transform: scale(1);
  transform-origin: bottom;
  pointer-events: none;
  display: inline;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 1.2rem;
  font-family: "Montserrat";
  text-align: center;
}

.brand {
  font-family: "Cinzel";
}

nav a {
  font-family: "Cinzel";
}

section {
  height: 100vh;
  /* background-color: #306844; */
  /* background-image: linear-gradient(90deg, #306844 0%, #2c4c3b 74%); */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

section h3 {
  color: white;
  font-size: 2.25rem;
  font-family: "Cinzel";
  text-align: center;
}

section p {
  color: white;
  font-size: 1rem;
  font-family: "Cinzel";
  text-align: center;
  width: 400px;
  margin: 2rem auto;
}

html {
  scroll-snap-type: y mandatory;
}

section,
header,
footer {
  scroll-snap-align: start;
}
